/* DEFAULTS
----------------------------------------------------------*/

body
{
    /*background: #b6b7bc url('titleLogo.png') top left no-repeat;*/
    background: #c6c7cc url('titleLogo.png') top left no-repeat;
    background-size: 250px;
    text-align: left;
    font-size: 14.66px; /*font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;*/
    font-family: "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #1A1A1A;
}

a img
{
    border: 0px solid white;
}
a:link, a:visited
{
    color: #034af3;
    text-decoration: none;
}

a:hover
{
    color: #1d60ff;
    text-decoration: underline;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-family: "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;
    margin-bottom: 0px;
}

h1
{
    font-size: 26.66px;
    font-weight: 300;
}

h2
{
    font-size: 26.66px;
    font-weight: 300;
    color: #707070;
}

h3
{
    font-weight: 700;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

hr
{
    width: 80%;
    clear: right;
    color: #707070;
    height: 1px;
    border: 0px;
    border-top: 1px solid #707070;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 960px;
    background-color: #ffffff;
    margin: 20px auto 20px auto;
    border: 1px solid #496077;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px; /*background: #F2527D;*/
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 188px;
    min-height: 420px;
    border-left: 1px solid #707070;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 180px;
    min-height: 200px;
    float: left;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto 20px;
    text-align: center;
    line-height: normal;
    clear: both;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color: #F2527D;
    width: 100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #F2527D;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

table.toc
{
    padding: 0px;
    margin: 10px 0px;
    border-width: 0px;
    width: 100%;
}
table.toc th, table.toc td
{
    width: 190px;
    padding: 3px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    text-align: center;
    background-color: #F2527D; /*color: #7A3B83;*/
    color: #5A1F73;
}
table.toc th
{
    padding: 5px 3px 0px 3px;
}
table.toc td
{
    padding: 2px 3px 5px 3px;
}
table.toc a
{
    color: #5A1F73;
}
table.toc a:hover
{
    color: #7A3B83;
}
table.toc th.tocactive, table.toc td.tocactive
{
    color: #1a1a1a;
    text-decoration: underline;
}
.chevron
{
    font-size: 0;
    height: 0;
    line-height: 0;
    border-style: solid;
    border-color: transparent; /* chevron color */
    border-right-color: red; /* for left pointers, right border is 0 */
    border-width: 23px 23px 23px 0; /*float: left;*/
    width: 100px;
    margin: 10px;
}
/*
.ch {
    font-size:0;
    height:0;
    line-height:0;
    border-style: solid;
    border-color: transparent;
    border-width: 23px 0 23px 23px;
    border-left-color: red;
    border-left-color: rgba(255,0,0,0.5);
    position: absolute;
    right:-23px;
    top:0;
}
.arrow-right {
	width: 0;
	height: 0;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	border-left: 30px solid  rgba(255,0,0,0.5);
    display: inline-block;
}*/

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline
{
    display: inline;
}

legend
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}
/*--Left menu---------------------------------------------*/
ul.partMenu
{
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
    list-style-type: none;
}
ul.partMenu li
{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    color: #707070;
}
ul.partMenu li a
{
    color: inherit;
    text-decoration: none;
}
ul.partMenu li a:hover
{
    color: inherit;
    text-decoration: underline;
}

ul.partMenu ul
{
    margin: 0px;
    padding: 0px;
}
ul.partMenu ul li li
{
    margin: 0px 0px 0px 15px;
    padding: 0px;
    list-style-type: none;
    font-size: 12px;
    color: #1A1A1A;
}

.partMenuHeader
{
    font-weight: 700;
    color: #1A1A1A;
}
/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}



/*TODO: Move to common.css*/
cite
{
    text-align: justify;
    margin: 1em;
}

p.comment
{
    text-align: justify;
    font-size: smaller;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 0em;
}

/* Table of Contents Styles */
ol.toc, ol.toc li
{
    text-align: left;
}
ol.toc
{
    list-style-type: decimal;
    text-align: left;
}


/* Code styles */
div.output
{
    color: #008000;
}
code
{
    color: black;
    font-size: 11pt;
    font-family: consolas, "Courier New" , courier, monospace;
}
div.csharpcode, div.output, div.marble
{
    color: black;
    font-family: consolas, "Courier New" , courier, monospace;
    font-size: 11pt; /*Does not seem to actually work. Needs the setting in line. Not sure why.*/
    background-color: #f4f4f4;
    text-align: left;
    margin: 0em;
    page-break-before: auto;
    page-break-inside: avoid;
}
div.output
{
    color: #C0C0C0;
    background-color: black;
    font-family: Terminal, "Courier New" , courier, monospace;
    text-align: left;
    margin: 0em;
    padding: 5px 12px;
    page-break-before: auto;
    page-break-inside: avoid;
}

.line
{
    color: inherit; /* text-indent: -1em; Ensure first line is not indented by the padding below. This will force wrapped lines to auto indent as you would hope code does     padding: 0em 0em 0em 1em;*/
    text-align: left;
    display: block;
    white-space: pre;
    font-size: 11pt; /*Not sure why the font-size setting in .csharpcode is not being enforced. Setting it here however seems to work great.*/
}

.scope
{
    margin-left: 1em;
}
/* use to wrap key words such as void, string, int, return*/
.kwrd
{
    color: #0000ff;
    white-space: nowrap;
}
/* use to wrap non-primitive type names when used in a signature, after the new keyword or when referenced for a types static members.*/
.knownType
{
    color: #2b91af;
    white-space: nowrap;
}
/*used to wrap comments/remarks*/
.rem
{
    color: #008000;
}
/*used to wrap strings*/
.str
{
    color: #A31515;
}
